body {
  margin: 0;
  padding: 0;
}
.comp_det >img{
  min-width: 199px;
  max-width: 200px;
  max-height: 33.7vh;
  margin-bottom: 20px;
  border-radius: 10px;
}

.comp_det{
  width: 100%;
  /* background-color: aliceblue; */
}
.star_h {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  
}


.datass{
  display: flex;
  overflow-x: scroll;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}


.compo-flow{
  background: rgba(131, 131, 131, 0.212);
  border-radius: 20px;
  /* position: fixed; */
  box-shadow: 0px 2.9px 7.5px black;

  padding: 10px;
  display: flex;
  margin: 10px;
  justify-content: center;
}





/* .changable {
  display: flex;
  width: 80%;
  background: rgb(129, 121, 121);
  justify-content: center;
  align-items: center;
  padding: .8px;
  border-radius: 20px;
  box-shadow: 0px 2.9px 7.5px black;
} */

/* .comp {
  display: grid;
  padding: 20px;
} */